<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Semester {{ semester }} - {{ course_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sem-name">{{ course_name }}</div>
        <div class="sem-name">Semester {{ semester }}</div>
        
        <!-- Subject Graph -->
        <div id="subject-graph"></div>
        
        <script id="subj-data" type="application/json">
            {{ subject_graph_json | safe }}
        </script>
                     
        <br>
        
    </div>
    
    <script>
        const subjDataEl = document.getElementById('subj-data');
        const subjJSON = JSON.parse(subjDataEl.textContent);
        const isMobile = window.innerWidth <= 768;

const layout = {
    
    paper_bgcolor: 'rgba(0,0,0,0)',   // removes outer white background
    plot_bgcolor: 'rgba(0,0,0,0)',    // removes inner white background

    font: {
        color: 'white',
        size: isMobile ? 18 : 12   // bigger font on phone
    },

    margin: {
        l: 40,
        r: 20,
        t: 60,
        b: 40
    }
};
        Plotly.newPlot(
    'subject-graph',
    graph.data,
    layout,
    {
        responsive: true,
        displayModeBar: false,
        scrollZoom: false,
        doubleClick: false,
        staticPlot: true
    }
);
        
        const subjDiv = document.getElementById('subject-graph');
        subjDiv.on('plotly_click', function(data) {
            const pt = data.points[0];
            const sid = pt.customdata;
            if (sid) {
                window.location.href = "/syllabus/" + sid;
            }
        });
    </script>

    <div class="back-button-container">
        <a href="{{ url_for('roadmap', course_id=course_id) }}" class="btn-secondaryy">
            Back to Roadmap
        </a>
        </div>
</body>
</html>